<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentRegisterServlet</servlet-name>
        <servlet-class>controller.StudentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>controller.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogoutServlet</servlet-name>
        <servlet-class>controller.StudentLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>controller.StudentDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileServlet</servlet-name>
        <servlet-class>controller.StudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalLoginServlet</servlet-name>
        <servlet-class>controller.ClericalLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalDashboardServlet</servlet-name>
        <servlet-class>controller.ClericalDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalLogoutServlet</servlet-name>
        <servlet-class>controller.ClericalLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentVehicleRegisterServlet</servlet-name>
        <servlet-class>controller.StudentVehicleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentVehicleListServlet</servlet-name>
        <servlet-class>controller.StudentVehicleListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalVehicleRequestServlet</servlet-name>
        <servlet-class>controller.ClericalVehicleRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalVehicleDecisionServlet</servlet-name>
        <servlet-class>controller.ClericalVehicleDecisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrantImageServlet</servlet-name>
        <servlet-class>controller.GrantImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentVehicleDetailServlet</servlet-name>
        <servlet-class>controller.StudentVehicleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentVehicleEditServlet</servlet-name>
        <servlet-class>controller.StudentVehicleEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentVehicleDeleteServlet</servlet-name>
        <servlet-class>controller.StudentVehicleDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalOffenseTypeServlet</servlet-name>
        <servlet-class>controller.ClericalOffenseTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrolLoginServlet</servlet-name>
        <servlet-class>controller.PatrolLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrolLogoutServlet</servlet-name>
        <servlet-class>controller.PatrolLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrolDashboardServlet</servlet-name>
        <servlet-class>controller.PatrolDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrolSummonsServlet</servlet-name>
        <servlet-class>controller.PatrolSummonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrolLookupServlet</servlet-name>
        <servlet-class>controller.PatrolLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSummonsServlet</servlet-name>
        <servlet-class>controller.StudentSummonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPaymentServlet</servlet-name>
        <servlet-class>controller.StudentPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalStudentActivityServlet</servlet-name>
        <servlet-class>controller.ClericalStudentActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalPatrolActivityServlet</servlet-name>
        <servlet-class>controller.ClericalPatrolActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClericalPaymentServlet</servlet-name>
        <servlet-class>controller.ClericalPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionFilter</servlet-name>
        <servlet-class>controller.SessionFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegisterServlet</servlet-name>
        <url-pattern>/StudentRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogoutServlet</servlet-name>
        <url-pattern>/StudentLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/StudentDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileServlet</servlet-name>
        <url-pattern>/StudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalLoginServlet</servlet-name>
        <url-pattern>/ClericalLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalDashboardServlet</servlet-name>
        <url-pattern>/ClericalDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalLogoutServlet</servlet-name>
        <url-pattern>/ClericalLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentVehicleRegisterServlet</servlet-name>
        <url-pattern>/StudentVehicleRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentVehicleListServlet</servlet-name>
        <url-pattern>/StudentVehicleListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalVehicleRequestServlet</servlet-name>
        <url-pattern>/ClericalVehicleRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalVehicleDecisionServlet</servlet-name>
        <url-pattern>/ClericalVehicleDecisionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrantImageServlet</servlet-name>
        <url-pattern>/GrantImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentVehicleDetailServlet</servlet-name>
        <url-pattern>/StudentVehicleDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentVehicleEditServlet</servlet-name>
        <url-pattern>/StudentVehicleEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentVehicleDeleteServlet</servlet-name>
        <url-pattern>/StudentVehicleDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalOffenseTypeServlet</servlet-name>
        <url-pattern>/ClericalOffenseTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrolLoginServlet</servlet-name>
        <url-pattern>/PatrolLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrolLogoutServlet</servlet-name>
        <url-pattern>/PatrolLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrolDashboardServlet</servlet-name>
        <url-pattern>/PatrolDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrolSummonsServlet</servlet-name>
        <url-pattern>/PatrolSummonsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrolLookupServlet</servlet-name>
        <url-pattern>/PatrolLookupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSummonsServlet</servlet-name>
        <url-pattern>/StudentSummonsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPaymentServlet</servlet-name>
        <url-pattern>/StudentPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalStudentActivityServlet</servlet-name>
        <url-pattern>/ClericalStudentActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalPatrolActivityServlet</servlet-name>
        <url-pattern>/ClericalPatrolActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClericalPaymentServlet</servlet-name>
        <url-pattern>/ClericalPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionFilter</servlet-name>
        <url-pattern>/SessionFilter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1200
        </session-timeout>
    </session-config>
</web-app>
